<div>
    <h2 id="page-heading">
        <span jhiTranslate="movilApp.mensaje.home.title">Mensajes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mensaje" [routerLink]="['/mensaje/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="movilApp.mensaje.home.createLabel">
            Create new Mensaje
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mensajes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="movilApp.mensaje.titulo">Titulo</span></th>
            <th><span jhiTranslate="movilApp.mensaje.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="movilApp.mensaje.datos">Datos</span></th>
            <th><span jhiTranslate="movilApp.mensaje.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mensaje of mensajes ;trackBy: trackId">
                <td><a [routerLink]="['/mensaje', mensaje.id, 'view' ]">{{mensaje.id}}</a></td>
                <td>{{mensaje.titulo}}</td>
                <td>{{mensaje.descripcion}}</td>
                <td>
                    <a *ngIf="mensaje.datos" (click)="openFile(mensaje.datosContentType, mensaje.datos)">
                        <img [src]="'data:' + mensaje.datosContentType + ';base64,' + mensaje.datos" style="max-height: 30px;" alt="mensaje image"/>
                    </a>
                    <span *ngIf="mensaje.datos">{{mensaje.datosContentType}}, {{byteSize(mensaje.datos)}}</span>
                </td>
                <td>
                    {{mensaje.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mensaje', mensaje.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mensaje', mensaje.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'mensaje', { outlets: { popup: mensaje.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
