<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-mensaje-heading" jhiTranslate="movilApp.mensaje.home.createOrEditLabel">Create or edit a Mensaje</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mensaje.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="mensaje.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="movilApp.mensaje.titulo" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                        [(ngModel)]="mensaje.titulo" required/>
                    <div [hidden]="!(editForm.controls.titulo?.dirty && editForm.controls.titulo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.titulo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="movilApp.mensaje.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="mensaje.descripcion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="movilApp.mensaje.datos" for="field_datos">Datos</label>
                    <div>
                        <img [src]="'data:' + mensaje.datosContentType + ';base64,' + mensaje.datos" style="max-height: 100px;" *ngIf="mensaje.datos" alt="mensaje image"/>
                        <div *ngIf="mensaje.datos" class="form-text text-danger clearfix">
                            <span class="pull-left">{{mensaje.datosContentType}}, {{byteSize(mensaje.datos)}}</span>
                            <button type="button" (click)="clearInputImage('datos', 'datosContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_datos" (change)="setFileData($event, mensaje, 'datos', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="datos" id="field_datos"
                        [(ngModel)]="mensaje.datos" />
                    <input type="hidden" class="form-control" name="datosContentType" id="field_datosContentType"
                        [(ngModel)]="mensaje.datosContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="movilApp.mensaje.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="mensaje.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === mensaje.user?.id ? mensaje.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
