<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mensaje">
            <h2><span jhiTranslate="movilApp.mensaje.detail.title">Mensaje</span> {{mensaje.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="movilApp.mensaje.titulo">Titulo</span></dt>
                <dd>
                    <span>{{mensaje.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="movilApp.mensaje.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{mensaje.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="movilApp.mensaje.datos">Datos</span></dt>
                <dd>
                    <div *ngIf="mensaje.datos">
                        <a (click)="openFile(mensaje.datosContentType, mensaje.datos)">
                            <img [src]="'data:' + mensaje.datosContentType + ';base64,' + mensaje.datos" style="max-width: 100%;" alt="mensaje image"/>
                        </a>
                        {{mensaje.datosContentType}}, {{byteSize(mensaje.datos)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="movilApp.mensaje.user">User</span></dt>
                <dd>
                    {{mensaje.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mensaje', mensaje.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
